examples/add-and-search-supermemory.js
[{ "id": "config", "type": "supermemory-config", "name": "My Supermemory Key", "credentials": { "apiKey": "YOUR_API_KEY_HERE" } }, { "id": "addNode", "type": "supermemory-add", "name": "Add Note", "config": "config", "content": "payload", "contentType": "msg", "metadata": "", "metadataType": "str", "spaceIds": "", "spaceIdsType": "str", "summarize": false, "memoryId": "", "memoryIdType": "str", "wires": [["searchNode"]] }, { "id": "injectAdd", "type": "inject", "name": "Add \"Hello Supermemory\"", "props": [{ "p": "payload", "v": "Hello Supermemory", "vt": "str" }], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "", "payload": "Hello Supermemory", "payloadType": "str", "x": 160, "y": 100, "wires": [["addNode"]] }, { "id": "searchNode", "type": "supermemory-search", "name": "Search for \"Hello\"", "config": "config", "query": "Hello", "queryType": "str", "limit": "10", "limitType": "num", "filters": "", "filtersType": "str", "categoriesFilter": "", "categoriesFilterType": "str", "wires": [["debugNode"]] }, { "id": "debugNode", "type": "debug", "name": "Search Result", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "payload", "targetType": "msg", "statusVal": "", "statusType": "auto", "x": 560, "y": 100, "wires": [] }]